.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PhoneInputWrapper > input {
  border-bottom: 2px solid gray;
  outline: 0;
  background: transparent;
  color: white;
}

.PhoneInputWrapper {
  padding: 5px;
}

.digits {
  width: 90%;
  height: 400px;
}

.digit-row {
  height: 20%;
  margin-bottom: 5px;
}

.digit-col {
  width: 30%;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
  /* margin: 2px; */
  margin-right: 5px;
  height: 100%;
  text-align: center;
}

.digit-col:active {
  background-color: lightgrey;
  color: black;
  cursor: pointer;
}

.digit-col > svg {
  fill: white;
}

.digit-col:active > svg {
  fill: black;
}

.digit {
  /* height: 50px; */
}